contractions
torchtext
pattern
torch
matplotlib
networkx
numpy
requests
nltk
pycorenlp
inflect==0.2.5
python-datamuse
unidecode
language-check

# When running this you might have an 'egginfo' installation error saying mysql_config is not found.
# If this happens run 'brew install mysql' on macOS, or 'sudo apt-get install libmysqlclient-dev' on Ubuntu.